<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kanedias.vanilla.lyrics">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <receiver
            android:name=".PluginQueryBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="ch.blinkenlights.android.vanilla.action.REQUEST_PLUGIN_PARAMS" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LyricsShowActivity"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="ch.blinkenlights.android.vanilla.action.WAKE_PLUGIN" />
                <action android:name="ch.blinkenlights.android.vanilla.action.LAUNCH_PLUGIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>